@page "/register"
@inject IAuthService AuthService

<PageTitle>Register</PageTitle>

<MudContainer MaxWidth="MaxWidth.Medium">
    <MudCard Class="m-4" Rounded="true">
        <MudCardHeader>
            <CardHeaderAvatar>
                <MudAvatar Color="Color.Dark">
                    <MudIcon Icon="@Icons.Material.Filled.Person" />
                </MudAvatar>
            </CardHeaderAvatar>
            <CardHeaderContent>
                <MudText Typo="Typo.h5" Color="Color.Dark">Register</MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <MudForm Model="user" OnValidSubmit="HandleRegistration">
                <MudItem Class="mb-3">
                    <MudTextField @bind-Value="user.Email" Label="Email" Required="true" />
                    <MudFormValidator />
                </MudItem>
                <MudItem Class="mb-3">
                    <MudTextField @bind-Value="user.Password" Label="Password" Required="true" Type="InputType.Password" />
                    <MudFormValidator />
                </MudItem>
                <MudItem Class="mb-3">
                    <MudTextField @bind-Value="user.ConfirmPassword" Label="Confirm Password" Required="true" Type="InputType.Password" />
                    <MudFormValidator />
                </MudItem>
                 <MudItem Class="mb-3">
                    <MudSelect Label="User Role" @bind-Value="user.Role">
                        @foreach (UserRole role in Enum.GetValues(typeof(UserRole)))
                        {
                            <MudSelectItem TValue="UserRole" Value="@role">@role.ToString()</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="HandleRegistration">Register</MudButton>
            </MudForm>
            <MudTypography Typo="TypoStyle.Body2" Class="@messageCssClass">
                <span>@message</span>
            </MudTypography>
        </MudCardContent>
    </MudCard>
</MudContainer>

@code {
    UserRegister user = new UserRegister();
    string message = string.Empty;
    string messageCssClass = string.Empty;

    async Task HandleRegistration()
    {
        var result = await AuthService.Register(user);
        message = result.Message;
        messageCssClass = result.Success ? "text-success" : "text-danger";
    }
}
